/* Lingofable Specific Overrides */

.interaction-images {
    flex-wrap: wrap;
}

@media (max-width: 640px) {
    .interaction-images {
        flex-direction: column;
        align-items: stretch;
    }

    .interaction-images img {
        width: 100% !important;
    }
}
